body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h3 {
  text-align: center;
}
a {
  color: #00B7FF;
}
video {
  width: 48vw;
  height: 36vw;
  margin: 2rem;
  background: #2c3e50;
  border: 1px solid #dddddd;
}
.videos {
  display: flex;
  align-items: center;
  justify-content: center;
}
.center {
  text-align: center;
  background-color: #dddddd;
}
.controls {
  display: flex;
  align-items: center;
  margin: 0 22vw 0 22vw;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 1rem;
}
.controls button {
  width: 32%;
  min-width: 150px;
}
.processing {
  background-image: url("/images/spinner.gif");
  background-repeat: no-repeat;
  background-position: center;
}
.form-group {
  margin: 1rem;
}
.header {
  display: flex;
  justify-content: space-between;
}
.dark {
  background-color: #000000;
}
.dark h3 {
  color: #dddddd;
}
#canvas {
  display: none;
}
a {
  color: #FFFFFF;
  text-decoration: none;
}
